.editor-container {
   width: 500px;
   margin: auto;
}

::ng-deep.gjs-cv-canvas {
    width: 100%;
    top: 0;
    height: 100%;
}

::ng-deep.gjs-block:hover {
   box-shadow: none !important;
}

::ng-deep.gjs-rte-toolbar {
   width: 450px !important;
   top: -60px !important;
}

::ng-deep.gjs-block {
   width: 3.5%;
   min-width: 45px;
   min-height: 0;
   border: none;
   border-radius: 0;
   margin: 0;
   box-shadow: none;
   transition: none;
   transition-property: none;
   height: 55px;
   padding-left: 5px !important;
}

::ng-deep.gjs-fonts::before {
   font-size: 2.5em;
}

::ng-deep.gjs-block.fa {
   font-size: 1.5em;
   line-height: 1.3em;
}

::ng-deep.gjs-block-categories {
   height: 55px;
}

::ng-deep.gjs-title {
   display: none;
}

::ng-deep.gjs-pn-commands, ::ng-deep.gjs-pn-views {
   display: none;
}

::ng-deep.gjs-pn-panel {
   position: relative;
}

::ng-deep.gjs-pn-options {
   top: -85px;
   left: 84%;
}

::ng-deep.gjs-sm-properties {
   padding: 0 5px;
}
::ng-deep.gjs-selected .row {
   padding: 5px !important;
}

::ng-deep.gjs-sm-property__border-radius, ::ng-deep.gjs-sm-property__background-color {
   width: 50% !important;
}

::ng-deep.gjs-sm-property__background, ::ng-deep.gjs-sm-property__border {
   width: 100% !important;
}

::ng-deep.gjs-sm-property__border-width, ::ng-deep.gjs-sm-property__border-style, ::ng-deep.gjs-sm-property__border-color {
   width: 33% !important;
}

::ng-deep.gjs-block-label {
   visibility: hidden;
}

::ng-deep.ck-editable {
   padding: 0;
}